.info{
    text-align:center;
    display: block;
    background-color: #f3a29d;
    padding: 30px 20px;
    border-radius: 0px;
    border-color: #7c1224;
    border-style:groove;
    margin-top: 2%;
    margin-right: 25%;
    margin-bottom: 2%;
    margin-left: 25%;
}

.finalPrice{
    text-align:center;
    display: block;
    background-color: #7c1224;
    padding: 30px 20px;
    border-radius: 70px;
    border-color: #f3a29d;
    border-style:groove;
    margin-top: 2%;
    margin-right: 25%;
    margin-bottom: 80%;
    margin-left: 25%;
}

#Hotdog{
    font-size: 25px;
    color: rgb(119, 16, 33);
    font-weight: bold;
    display: block;
    text-align:left;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#Fries{
    font-size: 25px;
    color: rgb(119, 16, 33);
    font-weight: bold;
    display: block;
    text-align:left;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#Sodas{
    font-size: 25px;
    color: rgb(119, 16, 33);
    font-weight: bold;
    display: block;
    text-align:left;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#subtotalNoTax{
    font-size: 25px;
    color: rgb(119, 16, 33);
    font-weight: bold;
    display: block;
    text-align:left;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#discountVal{
    font-size: 25px;
    color: rgb(119, 16, 33);
    font-weight: bold;
    display: block;
    text-align:left;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#taxAmnt{
    font-size: 25px;
    color: rgb(119, 16, 33);
    font-weight: bold;
    display: block;
    text-align:left;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#total{
    font-size: 30px;
    color: rgb(253, 233, 216);
    font-weight: bold;
    display: block;
    text-align:center;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}